<mat-card raised class="rack">
  <div class="apps {{rack.status}}">
    <mat-chip-list>
        <mat-chip
          class="appChip"
          *ngFor="let app of rack.apps">
          <mat-chip-avatar [ngClass]="{'appAvatar': true, 'moved': app.moved}">{{app.id}}</mat-chip-avatar> <!-- COND: incoming || outgoing -->
          <span class="appSpinnerWrapper {{app.status}}">
            <mat-progress-spinner
              class="appProgressSpinner"
              mode="indeterminate"
              value="50"
              strokeWidth="2"
              diameter="28"
              style="background: transparent;">
            </mat-progress-spinner>
          </span>
          <span>{{app.usage | number:'1.1-2'}}&nbsp;kW</span>
        </mat-chip>
    </mat-chip-list>
  </div>
  <mat-card-footer class="rackFooter">
    <div class="rackStatus {{rack.status}}">
      <div class="footerTitle">Status</div>
      <div class="footerValue">{{rack.status | uppercase}}</div><!--  ON | OFF | BATT -->
    </div>
    <div class="rackLimit">
      <div class="footerTitle">Limit</div>
      <div class="footerValue">{{rack.limit | number:'1.1-2'}}<span class="suffix">&nbsp;kW</span></div>
    </div>
    <div class="rackUsage">
      <div class="footerTitle">Usage</div>
      <div class="footerValue">{{rack.usage | number:'1.1-2'}}<span class="suffix">&nbsp;kW</span></div>
    </div>
    <div class="rackUtilization">
      <div class="footerTitle">Util.</div>
      <div class="footerValue">{{rack.utilization * 100 | number:'1.0-0'}}<span class="suffix">&nbsp;%</span></div>
    </div>
    <div class="rackPower">
      <button
        mat-icon-button
        class="rackMenuButton"
        (click)="toggleRackPower(rack.id)">
        <mat-icon aria-label="Example icon-button with icon">power_settings_new</mat-icon>
      </button>
    </div>
  </mat-card-footer>
</mat-card>
