@import '../../../colors.scss';

$on-color: $green;
$off-color: $red;
$batt-color: $cyan;

.rack {
    .apps {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 0.5rem;
        margin-left: 2px;
        min-height: 235px;
        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
            height: calc(100% - 44px);
            width: 10px;
        }
        &:before {
            left: 0;
            border-top-left-radius: 4px;
        }
        &:after {
            right: 0;
            border-top-right-radius: 4px;
        }
        .appChip {
            background: #fff;
            border: 1px solid $gray;
            width: 46%;
            min-width: 100px;
            position: relative;
            .appAvatar {
                background: $gray;
                color: #fff;
                &.moved {
                    background: $green;
                }
            }
            .appSpinnerWrapper {
                &.running {
                    display: none;
                }
                &.incoming {
                    ::ng-deep .mat-progress-spinner circle{
                        display: block;
                        stroke: $on-color;
                    }
                }
                &.outgoing {
                    ::ng-deep .mat-progress-spinner circle{
                        display: block;
                        stroke: $off-color;
                    }
                }
                .appProgressSpinner {
                    position: absolute;
                    left: 2px;
                    top: 1px;
                }
            }
        }
        &.on:before,
        &.on:after {
            background: $on-color;
        }
        &.off:before,
        &.off:after {
            background: $off-color;
        }
        &.batt:before,
        &.batt:after {
            background: $batt-color;
        }
    }
    .rackFooter {
        border-top: 1px solid $gray;
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        .footerTitle {
            font-size: 0.5rem;
            margin-bottom: 0.125rem;
            font-weight: 400;
        }
        .footerValue {
            font-size: 0.8rem;
            .suffix {
                font-size: 0.6rem
            }
        }
        .rackPower {
            .rackMenuButton {
                height: 28px;
                width: 28px;
                line-height: 28px;
            }
        }
        .rackStatus {
            &.off { .footerValue { color: $off-color; } }
            &.on { .footerValue { color: $on-color; } }
            &.batt { .footerValue { color: $batt-color } }

        }
    }    
}