.appWrapper {
    height: 100%;
    margin: 0;
    .sidenavContainer {
        height: 100%;
        .sideNav {
            width: 200px;
        }
        .viewContent {
            height: 100%;
            padding-top: 1rem;
        }
    }
    .topbarToggles {
        font-size: 1rem;
        > * {
            margin-right: 1rem;
        }
    }
}
.spacer {
    flex: 1 1 auto;
}