<div class="appWrapper">
  <mat-toolbar id="topbar">
    <mat-toolbar-row>
      <span>{{ title }}</span>
      <span class="spacer"></span>
      <span class="topbarToggles">
        <mat-slide-toggle
          color="green"
          labelPosition="before"
          [checked]="powerEnabled"
          (change)="togglePower()">
          Power
        </mat-slide-toggle>
        <mat-slide-toggle
          color="green"
          labelPosition="before"
          [checked]="iceEnabled"
          (change)="toggleIce()">
          ICE Enabled
        </mat-slide-toggle>
      </span>
      <span class="spacer"></span>
      <button mat-mini-fab (click)="sidenav.toggle()" color="primary">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Menu icon">menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container
    class="sidenavContainer"
    hasBackdrop="false">
    <mat-sidenav
      class="sideNav"
      #sidenav
      position="end"
      [mode]="side"
      [opened]="navOpened"
      [fixedInViewport]="true"
      [fixedTopGap]="64"
      [fixedBottomGap]="0">
      <mat-nav-list>
        <a mat-list-item href="/">Consolidation</a>
        <a mat-list-item href="/migration">Migration</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content
      class="viewContent"
      height="100%">
      <router-outlet></router-outlet>          
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>