<div class="wrapper" *ngIf="location">
  <div class="locationInfo">
    <div class="location">Location: <b>{{location.name}}</b></div>
    <div class="usage">Usage: <b>{{location.usage | number:'1.1-2'}} kW</b></div>
    <div class="utilization">Utilization: <b>{{location.utilization * 100 | number:'1.0-0'}}%</b></div>
    <mat-slide-toggle
      color="green"
      labelPosition="before"
      [checked]="location.powerEnabled"
      (change)="togglePower()">
      Power
    </mat-slide-toggle>
  </div>
  <div class="rows" *ngIf="location.rows">
    <app-row
      *ngFor="let row of location.rows"
      [row]="row">
    </app-row>
  </div>
</div>
