.wrapper {
    border-radius: 4px;
    margin: 1rem;
    border: 1px solid #eee;
    .locationInfo {
        background: #eee;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        .controlButton {
            width: 18px;
            height: 18px;
            line-height: 18px;
        }
    }
    .rows {
        margin: 2rem 0;
    }
}