$red: #d32f2f;
$pink: #e91e63;
$purple: #9c27b0;
$deepPurple: #673ab7;
$indigo: #3f51b5;
$blue: #2196f3;
$lightBlue: #03a9f4;
$cyan: #00bcd4;
$teal: #009688;
$green: #4caf50;
$lightGreen: #64dd17;
$lime: #aeea00;
$yellow: #ffeb3b;
$amber: #ffc107;
$orange: #ffa726;
$deepOrange: #f4511e;
$brown: #795548;
$gray: #9e9e9e;
$blueGrey: #607d8b;

$primary: $blue;
$accent: $orange;
$success: $green;
$error: $red;

$charging: $deepOrange;
$discharging: $cyan;
$utility: $amber;

$greenSliderBar: rgba(76, 175, 80, 0.54);