.row {
    background: #eee;
    margin: 0.5rem;
    border-radius: 4px;
    .rowInfo {
        display: flex;
        justify-content: space-between;
        padding: 1rem 1rem 0; 
    }
    .racks {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        .rackWrapper {
            width: 19%;
        }
    }
}