<div class="row">
  <div class="rowInfo">
    <div>Name: <b>{{row.name}}</b></div>
    <div>Usage: <b>{{row.usage | number:'1.1-2'}} kW</b></div>
    <div>Utilization: <b>{{row.utilization * 100 | number:'1.0-0'}}%</b></div>
    <div>Battery SOC: <b>{{row.batterySOC | number:'1.0-0'}}%</b></div>
    <mat-slide-toggle
      color="green"
      labelPosition="before"
      [checked]="row.powerEnabled"
      (change)="togglePower()">
      Power
    </mat-slide-toggle>
  </div>
  <div class="racks">
    <app-rack
      class="rackWrapper"
      *ngFor="let rack of row.racks"
      [rack]="rack">
    </app-rack>
  </div>
</div>
